<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <script src="/js/passView.js"></script> 
</head>
<body>
    <%- include("./partials/nav") %>
    <div class="container">
    <h1 class="text-center mt-5"><b>Welcome @<%= user.username %> </b></h1>
      <div class="row d-flex justify-content-around">
        <% pass.forEach( function (element) { %>
        <div class="col-lg-4">
          <div class="card-group d-flex flex-column justify-content-center my-4">
            <h2 class="card-title"><%=element.name%></h2>
            <div class="d-flex align-items-center justify-content-between">
              <div class="pass-group d-flex flex-row w-100">
                <input type="text" class="form-control password w-50" value="<%=element.password%>"> 
                <i class="fa fa-eye m-2 eye-show" aria-hidden="true"></i>
              </div>
              <div class="button-group d-flex">
                <a href="/<%=element.id%>/edit" class="btn align-self-end btn-edit" title="Delete password" data-toggle="modal" data-target="#modelId">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="/<%=element.id%>/delete" class="btn align-self-end btn-delete" title="Delete password">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <p class="card-text text-secondary mt-2"><i>"<%=element.description%>"</i></p>
            <button type="button" class="btn btn-primary align-self-end btn-copy-past" title="Copy password">
              Copy password
            </button>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
</body>
</html>